* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
#app {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 500px;
    width: auto;
}
.loadingPage {
    display: flex;
    flex-direction: column;
    text-align: center;
    font-size: x-large;
}
.loadingPage img {
    width: 50px;
    height: auto;
}