* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
#app {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 500px;
    width: auto;
}
.loadingPage {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: xx-large;
}
.loadingPage img {
    width: 60px;
    height: auto;
    margin-bottom: 30px;
}