* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
#app {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 500px;
    width: auto;
}
.loadingPage {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 2rem;
}
.loadingPage img {
    width: 600px;
    height: auto;
    margin-bottom: 50px;
}